* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--font-color);
    font-family: 'URW Clarendon', 'Times New Roman', Times, serif;
}

body {
    background-color: var(--background-color);
}


/* header */

#header {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid var(--border-color);
    padding: 20px 0;
}

/* logo */

#header #logo {
    display: flex;
    align-items: center;
    text-decoration: none;

}
#header #logo h1 {
    padding-left: 10px;
}

#header #logo:hover img {
    /* transform: rotate(360deg) scale(1.2); */
    animation-duration: 3s;
    animation-name: logo-animation;
}

@keyframes logo-animation {
    15% {
        transform: rotate(360deg);
    }
    50% {
        transform: translateX(-100px);
    }
    60% {
        transform: translateX(-100px) translateY(-10px) rotateY(180deg);
    }
    65% {
        transform: translateX(-100px) rotateY(180deg);
    }
    90% {
        transform: translateX(0) rotateY(180deg);
    }
}
/* menu */

#header #menu {
    display: flex;
    justify-content: space-between;
    width: 35%;
    align-items: center;
}

#header #menu .option, 
#header #menu .option h3{
    text-decoration: none;
    font-weight: normal;
}

#header #menu .option:hover h3{
    color: var(--background-color-header-row);
}

/* change theme */

#header #change-theme {
    display: flex;
    justify-content: center;
    position: relative;
}

#header #change-theme .white-black-set{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px 0;
    width: 100%;
}

/* hidden layers */

#header #change-theme #hidden-layers {
    visibility: hidden;
    background-color: var(--background-color);
    position: absolute;
    z-index: 1;
    width: 100px;
    left: 50%;
    transform: translateX(-50%);
    top: 50px;

    transition-property: visibility;
    border: 1px solid var(--border-color);
    border-top: 0;
}
#header #change-theme:hover #hidden-layers  {
    visibility: visible;
    transition-delay: 0.5s;
}


/* main */

#main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* buttons */

#main .buttons {
    width: 70vw;
    height: 50px;
    margin-top: 20px;
    background-color: var(--background-color-even-rows);
    border: 1px solid var(--border-color);
    display: flex;
    align-items: stretch;
}
#main .buttons > * {
    padding: 0 20px;
    display: flex;
    align-items: center;
    border-right: 1px solid var(--border-color);
    text-decoration: none;
}
#main .buttons > *:hover {
    background-color: var(--background-color-grade-hover);
}

/* grades container */

#main #grades-container{
    display: flex;
    flex-direction: column;
    width: 70vw;
    margin-top: 20px;
}

/* lesson container */

#main #grades-container .lesson-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 50px;
    border: 1px solid var(--border-color);
    border-bottom: 0;
}

#main #grades-container .lesson-container:last-child {
    border-bottom: 1px solid var(--border-color);
}

#main #grades-container .lesson-container:first-child {
    background-color: var(--background-color-header-row);
}

#main #grades-container .lesson-container:nth-child(2n) {
    background-color: var(--background-color-odd-rows);
}
#main #grades-container .lesson-container:nth-child(2n+3) {
    background-color: var(--background-color-even-rows);
}

/* lesson name */

#main #grades-container .lesson-container .lesson-name {
    display: flex;
    align-items: center;
    width: 10%;
    padding: 0 5px;
    border-right: 1px solid var(--border-color); 
}

#main #grades-container .lesson-container:first-child .lesson-name {
    justify-content: center;
    border-bottom: 1px solid var(--border-color);
}

/* average */

#main #grades-container .lesson-container .average {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    padding: 0 5px;
    border-right: 1px solid var(--border-color); 
}

#main #grades-container .lesson-container:first-child .average {
    border-bottom: 1px solid var(--border-color);
}

/* grades */

#main #grades-container .lesson-container .grades {
    display: flex;
    align-items: stretch;
    width: 80%;
}

/* grade */

#main #grades-container .lesson-container .grades .grade {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    padding: 5px 10px;
}

#main #grades-container .lesson-container .grades .grade:hover {
    background-color: var(--background-color-grade-hover);
}

#main #grades-container .lesson-container:first-child .grades > * {
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    border-right: 0;
}
#main #grades-container .lesson-container:first-child .grades > *:hover {
    background-color: var(--background-color-header-row);
}

/* grade - hidden info */

#main #grades-container .lesson-container .grades .grade div {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    top: 50px;
    left: 0;
    width: 200px;
    background-color: var(--background-color-grade-info);
    border: 1px solid var(--border-color);
    border-top: 0;
    transition-property: visibility;
    padding: 7px;
}

#main #grades-container .lesson-container .grades .grade:hover div {
    visibility: visible;
    transition-delay: 0.5s
}


/* timetable */

#timetable-container {
    display: flex;
    flex-direction: column;
    width: 70vw;
    margin-top: 20px;
}

/* buttons */



/* row */

#timetable-container .row-container {
    display: flex;
}

#timetable-container .row-container:first-child {
    background-color: var(--background-color-header-row);
    border-top: 1px solid var(--border-color);
    /* border-bottom: 1px solid var(--border-color); */
}

/* cell */
#timetable-container .row-container .cell {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 18%;
    height: 50px;
    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    text-align: center;
}

#timetable-container .row-container:nth-child(1n+2) .cell:nth-child(2n) {
    background-color: var(--background-color-even-rows);
}

#timetable-container .row-container:nth-child(1n+2) .cell:nth-child(2n+1) {
    background-color: var(--background-color-odd-rows);
}

#timetable-container .row-container .cell:first-child {
    width: 10%;
    border-left: 1px solid var(--border-color)
}
#timetable-container .row-container:nth-child(1n+2) .cell:hover {
    background-color: var(--background-color-grade-hover);
}

/* cell - additional info */

#timetable-container .row-container .cell .additional-info {
    color: var(--font-color-additional-info);
}

/* cell - hidden info */
#timetable-container .row-container .cell .hidden-info{
    visibility: hidden;
    position: absolute;
    z-index: 1;
    top: 50px;
    left: 0;
    width: 100%;
    padding: 7px;
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    border-top: 0;
    text-align: left;

    
    transition-property: visibility;
}

#timetable-container .row-container .cell:hover .hidden-info{
    visibility: visible;
    transition-delay: 0.5s;
}

/* tests container */

.tests-container {
    display: flex;
    width: 70vw;
    margin-top: 20px;
    /* border: 1px solid var(--border-color); */
    border-bottom: 0;
}

/* day */

.tests-container .day {
    width: 20%;
    /* TODO: border */
    border: 1px solid var(--border-color);
    border-right: 0;
}
.tests-container .day:nth-child(2n) {
    background-color: var(--background-color-even-rows);
}
.tests-container .day:nth-child(2n+1) {
    background-color: var(--background-color-odd-rows);
}
.tests-container .day:last-child {
    border-right: 1px solid var(--border-color);
}

/* day - date */

.tests-container .day .date {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--background-color-header-row);
    border-bottom: 1px solid var(--border-color);
    height: 50px;
}

/* day - test */

.tests-container .day .test {
    border-bottom: 1px solid var(--border-color);
    padding: 7px;
}
.tests-container .day .test:last-child {
    border-bottom: 0;
}

/* test - lesson name */
.tests-container .day .lesson-name {
    padding-bottom: 7px;
}

/* test - description */
.tests-container .day .description {
    padding-bottom: 7px;
}

/* messages */

.messages-container {
    width: 70vw;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.messages-container .message {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    
    border: 1px solid var(--border-color);
    border-top: 0;
}

.messages-container .message:first-child {
    background-color: var(--background-color-header-row);
    border-top: 1px solid var(--border-color)
}

.messages-container .message:nth-child(2n) {
    background-color: var(--background-color-even-rows);
}
.messages-container .message:nth-child(2n+3) {
    background-color: var(--background-color-odd-rows);
}
.messages-container .message:nth-child(1n+2):hover {
    background-color: var(--background-color-grade-hover);
}
.messages-container .message > * {
    width: 33.3%;
    padding: 10px;
    display: flex;
    justify-content: center;
}

#load-more-messages {
    width: 150px;
    height: 30px;
    margin: 20px 0;
    border: 1px solid var(--border-color);
    background-color: var(--background-color-even-rows);
    text-align: center;
    line-height: 30px;
    text-decoration: none;
}

#load-more-messages:hover {
    background-color: var(--background-color-grade-hover);
}

.message-container {
    width: 70vw;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.message-container .content {
    background-color: var(--background-color-odd-rows);
    border: 1px solid var(--border-color);
    padding: 10px;
    white-space: pre-line;
}

.message-container .attachments {
    background-color: var(--background-color-odd-rows);
    padding: 10px;
    margin-top: 20px;
    border: 1px solid var(--border-color);
}

.addendance-container {
    width: 70vw;
    display: flex;
    justify-content: space-between;
}
.addendance-container .day .present {
    color: #0f0;
}
.addendance-container .day .upsent {
    color: #f00;
}
