<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dziennik</title>

    <script src="{{ url_for('static', filename='scripts/script.js') }}" defer></script>

    <link rel="icon" href=" {{ logo_link }}">

    <link rel="stylesheet" href="{{ theme_link }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">

    {% if lessons %}
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/grades.css') }}">
    {% elif timetable %}
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/timetable.css') }}">
    {% elif tests %}
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/tests.css') }}">
    {% elif messages or message %}
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/messages.css') }}">
    {% elif addendance %}
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/addendance.css') }}">
    {% elif addendance_stats %}
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/addendance_stats.css') }}">
    {% elif new_grades %}
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/new_grades.css') }}">
    {% endif %}
</head>
<body>
    <div id="all">
        <div id="search-bar"></div>
        <div id="header">
            <a id="logo" href="/">
                <img src="{{ logo_link }}" alt="logo">
                <h1>Dziennik</h1>
            </a>
            <div id="menu">
                <a class="option" href="/oceny/2"><h3>Oceny</h3></a>
                <a class="option" href="/frekwencja"><h3>Frekwencja</h3></a>
                <a class="option" href="/planlekcji"><h3>Plan lekcji</h3></a>
                <a class="option" href="/sprawdziany"><h3>Sprawdziany</h3></a>
                <a class="option" href="/wiadomosci"><h3>Wiadomości</h3></a>
            </div>
            <div id="change-theme">
                <div class="white-black-set">
                    Motywy
                </div>
                <div id="hidden-layers">
                    <div class="white-black-set">
                        <a class="option" href="/set_cookie/theme/green-white/{{ request.path.replace('/', '-')[1:] }}">
                            <img src="{{ url_for('static', filename='/images/green-white.svg') }}">
                        </a>
                        <a class="option" href="/set_cookie/theme/green-black/{{ request.path.replace('/', '-')[1:] }}">
                            <img src="{{ url_for('static', filename='/images/green-black.svg') }}">
                        </a>    
                    </div>
                    <div class="white-black-set">
                        <a class="option" href="/set_cookie/theme/blue-white/{{ request.path.replace('/', '-')[1:] }}">
                            <img src="{{ url_for('static', filename='/images/blue-white.svg') }}">
                        </a>
                        <a class="option" href="/set_cookie/theme/blue-black/{{ request.path.replace('/', '-')[1:] }}">
                            <img src="{{ url_for('static', filename='/images/blue-black.svg') }}">
                        </a>    
                    </div>
                    <div class="white-black-set">
                        <a class="option" href="/set_cookie/theme/pink-white/{{ request.path.replace('/', '-')[1:] }}">
                            <img src="{{ url_for('static', filename='/images/pink-white.svg') }}">
                        </a>
                        <a class="option" href="/set_cookie/theme/pink-black/{{ request.path.replace('/', '-')[1:] }}">
                            <img src="{{ url_for('static', filename='/images/pink-black.svg') }}">
                        </a>    
                    </div>
                    <div class="white-black-set">
                        <a class="option" href="/set_cookie/theme/orange-white/{{ request.path.replace('/', '-')[1:] }}">
                            <img src="{{ url_for('static', filename='/images/orange-white.svg') }}">
                        </a>
                        <a class="option" href="/set_cookie/theme/orange-black/{{ request.path.replace('/', '-')[1:] }}">
                            <img src="{{ url_for('static', filename='/images/orange-black.svg') }}">
                        </a>    
                    </div>
                </div>
            </div>
        </div>
        <div id="main">
            <!-- TODO: change lessons to grades['lessons'] -->
            {% if lessons %}
                <div class="buttons">
                    <a class="button" href="/oceny/1">semestr 1</a>
                    <a class="button" href="/oceny/2">semestr 2</a>
                </div>
                <div id="grades-container">
                    <div class="lesson-container">
                        <div class="lesson-name">Przedmiot</div>
                        <div class="average">Średnia</div>
                        <div class="grades">
                            <div class="grade">Oceny</div>
                        </div>
                    </div>
                    
                    {% for i, lesson in enumerate(lessons) %}
                        <div class="lesson-container">
                            <input type="checkbox" id="grades-{{i}}"><label class="mobile" for="grades-{{i}}"></label>
                            <div class="lesson-name">{{ lesson.lesson_name }}</div>
                            <div class="average">{{ lesson.average }}</div>
                            <div class="grades">
                                {% for grade in lesson.grades %}
                                    <div class="grade">
                                        <span>{{ grade.grade }}</span>
                                        <div>
                                            <b>Ocena: </b> {{ grade.grade}}<br>
                                            <b>Waga: </b> {{ grade.weight }}<br>
                                            <b>Data: </b> {{ grade.date }}<br>
                                            <b>Opis: </b> {{ grade.description }}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                    <i class="mobile">protip: stuknij w przedmiot, zeby sprawdzic oceny</i>
                </div>
            {% elif timetable %}
                <div class="buttons">
                    <a class="button" href="/set_cookie/date_offset/-1/planlekcji">poprzedni tydzien</a>
                    <a class="button" href="/set_cookie/date_offset/0/planlekcji">biezacy tydzien</a>
                    <a class="button" href="/set_cookie/date_offset/1/planlekcji">nastepny tydzien</a>
                </div>
                <div id="timetable-container">
                    <div class="row-container">
                        {% for weekday in timetable.weekdays %}
                                <div class="cell">
                                    <div class="lesson">
                                        {{ weekday.day }}<br>{{ weekday.date }}
                                    </div>
                                </div>
                        {% endfor %}
                    </div>

                    {% for row in timetable.lessons %}
                        <div class="row-container">
                            {% for cell in row %}
                                <div class="cell">
                                    <div class="lesson">{{ cell.lesson }}</div>
                                    {% if cell.additional_info != '' %}
                                        <div class="additional-info">{{ cell.additional_info }}</div>
                                    {% endif %}
                                    {% if cell.teacher != '' %}
                                        <div class="hidden-info">
                                            <div class="teacher"><b>Nauczyciel: </b>{{ cell.teacher }}</div>
                                            <div class="class-num"><b>Sala: </b>{{ cell.class_num }}</div>
                                        </div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>

            {% elif tests %}
                <div class="buttons">
                    <a class="button" href="/set_cookie/date_offset/-1/sprawdziany">poprzedni tydzien</a>
                    <a class="button" href="/set_cookie/date_offset/0/sprawdziany">biezacy tydzien</a>
                    <a class="button" href="/set_cookie/date_offset/1/sprawdziany">nastepny tydzien</a>
                </div>
                <div id="tests-container">
                    {% for i, day in enumerate(tests.days) %}
                        <div class="day">
                            <div class="date">
                                {{ tests.weekdays[i].day }}<br>{{ tests.weekdays[i].date }}
                            </div>
                            {% for test in day %}
                                <div class="test">
                                    <div class="lesson-name">
                                        <b>lekcja: </b> {{ test.lesson }}<br>
                                    </div>
                                    <div class="description">
                                        <b>opis: </b> {{ test.description }}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            
            {% elif messages %}
                    <div class="messages-container">
                        <div class="message">
                            <div class="title">Tytuł</div>
                            <div class="sender">Nadawca</div>
                            <div class="date">Data</div>
                        </div>

                        {% for message in messages %}
                            <a class="message" href="/wiadomosci/{{ message.id }}">
                                <div class="title">{{ message.title }}</div>
                                <div class="sender">{{ message.sender }}</div>
                                <div class="date">{{ message.date }}</div>
                            </a>
                        {% endfor %}
                    </div>
                    <a id="load-more-messages" href="/set_cookie/messages_date_offset/-30/wiadomosci#load-more-messages">Załaduj więcej</a>
            
            {% elif message %}
                <div id="message-container">
                    <div class="content">{{ message.content }}</div>
                    <div class="attachments">
                        {% if message.attachments %}
                            {% for attachment in message.attachments %}
                                <a class="name" href="{{ attachment.url }}">{{ attachment.name }}</a>
                            {% endfor %}
                        {% else %}
                            <div class="attachment">Brak załączników :)</div>
                        {% endif %}
                    </div>
                </div>
                <!-- <a id="back-button" href="/wiadomosci">Powrot</a> -->

            {% elif addendance %}
                <div class="buttons">
                    <a class="button" href="/set_cookie/date_offset/-1/frekwencja">poprzedni tydzien</a>
                    <a class="button" href="/set_cookie/date_offset/0/frekwencja">biezacy tydzien</a>
                    <a class="button" href="/set_cookie/date_offset/1/frekwencja">nastepny tydzien</a>
                    <a class="button" href="/frekwencja/statystyki">statystyki</a>
                </div>
                <div id="addendance-container">
                    {% for i, day in enumerate(addendance.days) %}
                        <div class="day">
                            <div class="lesson">{{ addendance.weekdays[i] }}</div>
                            {% for lesson in day.lessons %}
                                <div class="lesson {{ lesson.category }}">{{lesson.lesson}}</div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>

            {% elif addendance_stats %}
                <div class="buttons">
                    <a class="button" href="/frekwencja">frekwencja tygodniowa</a>
                </div>
                <div id="addendance-stats-container">
                    <div class="lesson-container">
                        <div class="lesson-name">Przedmiot</div>
                        <div class="stats">Frekwencja</div>
                    </div>
                    {% for lesson in addendance_stats %}
                        <div class="lesson-container">
                            <div class="lesson-name">{{ lesson.lesson }}</div>
                            <div class="stats">{{ lesson.val }}%</div>
                        </div>
                    {% endfor %}
                </div>
            
            {% elif new_grades %}
                <div id="new-grades-container">
                    <h2>Nowe oceny</h2>
                    <div class="grade-container">
                        <div class="lesson-name">Przedmiot</div>
                        <div class="grade">Ocena</div>
                        <div class="weight">Waga</div>
                        <div class="date">Data</div>
                        <div class="description">Opis</div>
                    </div>
                    {% for i, grade in enumerate(new_grades) %}
                        <div class="grade-container">
                            <input type="checkbox" id="new-grades-{{ i }}"><label class="mobile" for="new-grades-{{ i }}"></label>
                            <div class="lesson-name">{{ grade.lesson }}</div>
                            <div class="grade">{{ grade.grade }}</div>
                            <div class="weight">{{ grade.weight }}</div>
                            <div class="date">{{ grade.date }}</div>
                            <div class="description">{{ grade.description }}</div>
                        </div>
                    {% endfor %}
                </div>
                <i class="mobile">Protip: stuknij w ocene, zeby wyswietlic opis</i>
            {% endif %}


        </div>
    </div>
</body>
</html>