<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logowanie - Dziennik</title>

    <style>
        form {
            display: flex;
            flex-direction: column;
            width: 40vw;
        }
        input {
            margin-bottom: 30px;
        }
    </style>
</head>
<body>
    <h1>Logowanie</h1>
    <form action="/login" method="post">
        <label>Nazwa użytkownika: </label><input type="text" name="username">
        <label>Hasło: </label><input type="password" name="password">
        <input type="submit" value="Zaloguj się">
    </form>
    {% if wrong_password %}
        <p style="color: red">Zła nazwa użytkownika lub hasło!</p>
    {% endif %}
</body>
</html>