.messages-container {
    width: 70vw;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.messages-container .message {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    
    border: 1px solid var(--border-color);
    border-top: 0;
}

.messages-container .message:first-child {
    background-color: var(--background-color-header-row);
    border-top: 1px solid var(--border-color);
    font-weight: bold;
}

.messages-container .message:nth-child(2n) {
    background-color: var(--background-color-even-rows);
}
.messages-container .message:nth-child(2n+3) {
    background-color: var(--background-color-odd-rows);
}
.messages-container .message:nth-child(1n+2):hover {
    background-color: var(--background-color-grade-hover);
}
.messages-container .message > * {
    width: 33.3%;
    padding: 10px;
    display: flex;
    justify-content: center;
}

#load-more-messages {
    width: 150px;
    min-height: 30px;
    margin-top: 20px;
    border: 1px solid var(--border-color);
    background-color: var(--background-color-even-rows);
    text-align: center;
    line-height: 30px;
    text-decoration: none;
}

#load-more-messages:hover {
    background-color: var(--background-color-grade-hover);
}

.message-container {
    width: 70vw;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.message-container .content {
    background-color: var(--background-color-odd-rows);
    border: 1px solid var(--border-color);
    padding: 10px;
    white-space: pre-line;
}

.message-container .attachments {
    background-color: var(--background-color-odd-rows);
    padding: 10px;
    margin-top: 20px;
    border: 1px solid var(--border-color);
}

@media screen and (max-width: 1450px) {
    .mobile {
        display: unset !important;
    }

    .messages-container {
        width: 100vw;
    }

    .messages-container .message {
        position: relative;
    }
    .messages-container .message .title {
        width: 50%;
    }

    .messages-container .message .sender {
        width: 50%
    }

    .messages-container .message .date {
        display: none;
    }

    .message-container {
        width: 100vw;
    }
}